@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

:root {
    /* green needs to change, we need a soft gradient to replace this */
    --clr-body-gradient: linear-gradient(320deg, #495a46 0.01%, #c9ee8d 100%);
    --clr-accent-light: #fff;

    --nav-items-size: 1.1rem;
    --nav-items-sizePlus: 6px;

    --global-inline-container: clamp(1rem, 5.5vw, 20rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-accent-light);
}

h1 {font-size: 3.5rem;}
h2 {font-size: 2.6rem;}
p {font-size: 1.1rem;}

body {
    font-family: "Prompt", sans-serif;
    background-image: var(--clr-body-gradient);
    background-color: hsl(0 0% 0% / 20%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 350% 350%;
    animation: breathing 20s ease infinite;
}

@keyframes breathing {
    0% {background-position: 0% 40%;}
    50% {background-position: 90% 30%;}
    100% {background-position: 0% 40%;}
}

.main-header {
    z-index: 99;
    position: fixed;
    width: 100%;
    padding: 1.5rem var(--global-inline-container);
    background: linear-gradient(180deg, rgb(0 0 0 / 0.6), transparent);
}

hr {
    margin-inline: var(--global-inline-container);
    border: none;
    border: 1px solid white;
    border-radius: 100%;
}

.main-header .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-accent-light);
}

.main-header .main-nav img {
    width: calc(var(--nav-items-size) + var(--nav-items-sizePlus));
}

.main-header .main-nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.main-header .main-nav ul li a {
    color: var(--clr-accent-light); 
    text-decoration: none;
    font-size: var(--nav-items-size);
    font-weight: 500;
}

.main-header .main-nav i {
    font-size: calc(var(--nav-items-size) + var(--nav-items-sizePlus));
    position: relative;
}

.main-header .main-nav i[data-cart]::after {
    position: absolute;
    content: attr(data-cart);
    color: white;
    background-color: var(--after, transparent);
    top: -5px;
    right: -5px;
    height: 15px;
    width: 15px;
    padding: 2px;
    text-align: center;
    border-radius: 50%;
    font-size: calc((var(--nav-items-size) + var(--nav-items-sizePlus)) / 2);
}

.main-header .phone-nav {
    display: none;
}

.main-header .phone-nav .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, rgb(0 0 0 / 0.6), transparent);
    padding: 1.5rem var(--global-inline-container);
}

.main-header .phone-nav .top img {
    width: calc(var(--nav-items-size) + var(--nav-items-sizePlus));
}

.main-header .phone-nav .top a i {
    font-size: calc(var(--nav-items-size) + var(--nav-items-sizePlus));
}

.main-header .phone-nav .bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-accent-light);
}

.main-header .phone-nav .bottom ul {
    display: flex;
    justify-content: space-evenly;
}

.main-header .phone-nav .bottom ul li {
    list-style: none;
    height: 8vh;
    width: 33vw;
    text-align: center;
    line-height: 8vh;
    border-right: 2px solid #495a46;
}

.main-header .phone-nav .bottom ul li:last-child {
    border: none;
}

.main-header .phone-nav .bottom ul li a {
    /* color: var(--clr-accent-light);  */
    color: #495a46;
    text-decoration: none;
    font-size: var(--nav-items-size);
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .main-header {
        padding: 0;
        background: none;
    }

    .main-header .main-nav {
        display: none;
    }

    .main-header .phone-nav {
        display: block;
    }
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem var(--global-inline-container);
    background-color: #495a46;
    box-shadow: 3px 3px 24px -1px rgb(0 0 0 / .25);
    border-radius: 15px 15px 0 0;
    backdrop-filter: blur(5px);
}

.form-section .form-container  {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-section .form-container form .form-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.1rem;
}

.form-section .form-container form .form-items .form-item {
    position: relative;
}

.form-section .form-container form .form-items .form-item label {
    position: absolute;
    top: 0.4rem;
    left: calc(0.4rem + 1.5px);
    z-index: 1;
    padding-inline: 5px;
    background-color: #495a46;

    animation: normal ease-in-out 5ms;
}

.form-section .form-container form .form-items .form-item input,
.form-section .form-container form .form-items .form-item textarea {
    border: none;
    font-size: 1.1rem;
    background-color: transparent;
    border: 1.5px solid #fff;
    /* box-shadow: 3px 3px 24px -1px rgb(0 0 0 / .25);  */
    border-radius: 5px;
    padding: 0.4rem;
    position: relative;
}

.form-section .form-container form .form-items .form-item:nth-child(3) textarea {
    height: 7rem;
    width: 100%;
    resize: none;
    font-family: "Prompt", sans-serif;
}

.form-section .form-container form button[type="submit"] {
    border: none;
    font-size: 1.1rem;
    padding: 1rem 2.5rem;

    cursor: pointer;

    background-color: rgb(256 256 256 / .3);
    border-radius: 15px;
}

.form-section .form-container form button[type="submit"]:hover {
    box-shadow: 3px 3px 24px -1px rgb(0 0 0 / .25);
    backdrop-filter: blur(5px);
}

@media screen and (min-width: 480px) {
    .form-section .form-container form .form-items {
        width: 60%;
    }

    .form-section .form-container form .form-items .form-item:nth-child(3) textarea {
        width: 25rem;
    }
}   

.content-section {
    padding-block: 8rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.content-section .main {
    padding-inline: var(--global-inline-container);
    width: 75%;
}

[data-price]::before {
    content: "₱" attr(data-price) ".00";
}

[data-amount]::before {
    content: attr(data-amount);
}