@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

:root {
    /* green needs to change, we need a soft gradient to replace this */
    --clr-body-gradient: linear-gradient(320deg, #495a46 0.01%, #c9ee8d 100%);
    --clr-accent-light: #fff;

    --nav-items-size: 1.1rem;
    --nav-items-sizePlus: 6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-accent-light);
}

body {
    font-family: "Prompt", sans-serif;
    background-image: var(--clr-body-gradient);
    background-color: hsl(0 0% 0% / 20%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 350% 350%;
    animation: breathing 20s ease infinite;
}

@keyframes breathing {
    0% {background-position: 0% 40%;}
    50% {background-position: 90% 30%;}
    100% {background-position: 0% 40%;}
}

.main-header {
    position: fixed;
    width: 100%;
    padding: 1.5rem 4rem; /* inline padding needs to be a variable in the future for responsiveness and to be the same for the <hr> */
}

hr {
    margin-inline: 4rem;
}

.main-header .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-accent-light);
}

.main-header .main-nav img {
    width: calc(var(--nav-items-size) + var(--nav-items-sizePlus));
}

.main-header .main-nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.main-header .main-nav ul li a {
    color: var(--clr-accent-light); 
    text-decoration: none;
    font-size: var(--nav-items-size);
    font-weight: 500;
}

.main-header .main-nav i {
    font-size: calc(var(--nav-items-size) + var(--nav-items-sizePlus));
}

.hero-section {
    height: 90vh;
    gap: 6.5rem;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section .main-info {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}

.hero-section .main-info .texts h1 {
    font-size: 3.5rem;
}

.hero-section .main-info .texts p {
    font-size: 1.2rem;
}

.hero-section .main-info .cta-btn {
    border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: 600;
    width: fit-content;
    padding: 1rem 2.5rem;

    cursor: pointer;

    background-color: rgb(256 256 256 / .3);
    box-shadow: 3px 3px 24px -1px rgb(0 0 0 / .25);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.hero-section .support-info {
    display: inherit;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 3.5rem;
    padding: 3.2rem;
    background-color: rgb(256 256 256 / .3);
    box-shadow: 3px 3px 24px -1px rgb(0 0 0 / .25);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.hero-section .support-info .info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
}

/* text styles need to be fixed */
.hero-section .support-info .info i {
    font-size: 1.5rem;
}


.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}