@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

:root {
    --clr-body-gradient: linear-gradient(320deg, #5B6759 0.01%, #C6DCA3 100%);
    --clr-accent-light: #fff;

    --nav-items-size: 1.1rem;
    --nav-items-sizePlus: 6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-accent-light);
}

body {
    font-family: "Prompt", sans-serif;
    background-image: var(--clr-body-gradient);
    background-color: hsl(0 0% 0% / 20%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header {
    position: fixed;
    width: 100%;
    padding: 1.5rem 4rem; /* inline padding needs to be a variable in the future for responsiveness and to be the same for the <hr> */
}

hr {
    margin-inline: 4rem;
}

.main-header .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-accent-light);
}

.main-header .main-nav img {
    width: calc(var(--nav-items-size) + var(--nav-items-sizePlus));
}

.main-header .main-nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.main-header .main-nav ul li a {
    color: var(--clr-accent-light); 
    text-decoration: none;
    font-size: var(--nav-items-size);
    font-weight: 500;
}

.main-header .main-nav i {
    font-size: calc(var(--nav-items-size) + var(--nav-items-sizePlus));
}

.hero-section {
    height: 90vh;
    gap: 3rem;
}

.hero-section,
.hero-section .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section .texts h1 {
    font-size: 3.5rem;
}

.hero-section .texts p {
    font-size: 1.2rem;
}

.hero-section .cards {
    display: inherit;
    gap: 3rem;
}

.hero-section .cards .card {
    width: 11rem;
    height: 7.5rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(135deg, rgb(256 256 256 / .65), rgb(256 256 256 / .1));
    box-shadow: 3px 3px 24px -1px rgb(0 0 0 / .25);
    border-radius: 15px;
}

/* text styles need to be fixed */
.hero-section .cards .card p,
.hero-section .cards .card i {
    color: rgb(256 256 256 / .8);
    text-shadow: 3px 3px 3px rgb(0 0 0 / .5);
}