.content-section .services {
    padding-inline: var(--global-inline-container);
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
}

.content-section .services .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    
    padding: 1rem;
    background-color: rgb(256 256 256 / .3);
    box-shadow: 3px 3px 24px -1px rgb(0 0 0 / .25);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.content-section .services .card hr {
    /* width: 100%; */
    margin: 0;
}

.content-section .services .card p {
    font-size: 1.5rem;
}

.content-section .services .card .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.content-section .services .card .buttons .count-buttons  {
    display: flex;
    gap: 0.8rem;
}

.content-section .services .card .buttons .count-buttons button {
    border: none;
    vertical-align: middle;
    height: 100%;
    font-size: 1.5rem;
    aspect-ratio: 1;
    background-color: rgb(256 256 256 / .3);
    border-radius: 5px;
}

.content-section .services .card .buttons .main-buttons button {
    border: none;
    font-size: 1.1rem;
    padding: 1rem 2.5rem;
    cursor: pointer;
    background-color: rgb(256 256 256 / .3);
    border-radius: 15px;
}